:root {
  --bs-primary: #255e4c;
  --bs-secondary: #ffb703;

  --font-sans: "Poppins", sans-serif;
  --font-serif: "Playfair Display", serif;
}

body {
  font-family: var(--font-sans);
  margin: 0;
}

.navbar-taller {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.hero-heading {
  font-family: var(--font-serif);
}

.hero-full {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
